{% include 'base.html' %}
<div class="container">
<a href='/todolist' class='btn btn-primary'><< Go Back</a>
<a href='/todolist/edition/{{ task.id }}' class='btn btn-primary'>Edit</a>
<div class='col-sm-6 col-sm-offset-3'>
  <br /><br /><br /><br />
<div class='row' style='padding:10px ;background-color:#bdd2e3'>
<h1>{{ task.title }}</h1>
Created on {{ task.created_at }}
</div>
<br />
<br />
<br />
<div class='col-sm-14'>
<p class='lead'>{{ task.text }}</p>
</div>
</div>
</div>
